:root {
  --black: #0C0D0D;
  --white: #EDEEEF;
}
body {
  background-color: var(--white);
  color: var(--black);
  font-size: 12px;
  height: 100vh;
}

nav {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.4em;
}
a {
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
img {
  width: 200px;
  padding-bottom: 3vh;
}
a:hover {
  transform: scale(1.2);
  transition: 1s;
}

footer {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--black);
  color: var(--white);
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
}
p {
  padding: 0 5%;
}